## Preprocessing Assigment


---


By 
  - Rakibuzzaman Mahmud
  - Mithun Das
  - Muhtasim Fuad Ansari

### Loading and Visualization of each station's Dataset

In [5]:
import pandas as pd
import seaborn as sns

##Read Data

In [6]:
data = pd.read_csv('combined_data_updated.csv',parse_dates=['time'],index_col='time')
#data.sample(10)

,temp_c_station-a,status_station-a,rain_mm_station-a,temp_c_station-b,status_station-b,rain_mm_station-b,temp_c_station-c,status_station-c,rain_mm_station-c,level_cm,flow_m2_s
time,,,,,,,,,,,
2014-06-19 20:00:00,0.448145,1,0.014437,0.544998,increased,0.139491,0.103468,increased,0.040205,-2.053277,-1.945569
2007-01-13 11:00:00,0.360573,1,0.003920,0.080967,normal,0.025607,-0.263085,normal,0.031113,0.049463,0.089526
2001-09-12 05:00:00,0.360573,1,0.003920,-0.179342,increased,0.084275,1.203128,increased,0.031113,0.049463,0.089526
2017-02-03 03:00:00,-1.688608,4,0.003920,-0.813140,increased,0.025607,-1.236741,max,0.031113,-1.030322,-0.728751
2011-03-31 07:00:00,-0.287458,1,0.003920,-0.122753,increased,0.025607,-0.297449,max,0.034144,0.049463,0.089526
2017-09-13 04:00:00,0.080344,1,0.003920,-0.394381,max,0.025607,-0.091263,increased,0.046265,-0.518845,-1.339280
2014-12-23 00:00:00,-0.112315,1,0.024954,-0.824458,normal,0.025607,-0.263085,increased,0.034144,8.233096,8.976110
2006-04-20 15:00:00,0.360573,1,0.003920,0.963757,increased,0.025607,-0.285994,normal,0.031113,0.049463,0.089526
2004-09-30 11:00:00,0.360573,1,0.003920,0.782672,normal,0.025607,0.332564,normal,0.031113,0.049463,0.089526
2017-06-07 11:00:00,0.185430,1,0.098576,0.590269,decreased,0.025607,0.011830,normal,0.046265,-1.882784,-1.695422

In [7]:
features = data.copy(deep=True)
features.drop(['level_cm','flow_m2_s'], axis=1,inplace=True)
features.sample(10)

,temp_c_station-a,status_station-a,rain_mm_station-a,temp_c_station-b,status_station-b,rain_mm_station-b,temp_c_station-c,status_station-c,rain_mm_station-c
time,,,,,,,,,
2015-01-19 00:00:00,-1.741151,4,0.045989,-1.978874,max,0.025607,-1.294015,max,0.037174
2002-09-17 06:00:00,0.360573,1,0.003920,-0.552830,increased,0.025607,1.203128,increased,0.031113
2004-10-05 00:00:00,0.360573,1,0.003920,0.092285,increased,0.025607,0.114923,max,0.031113
2002-05-25 13:00:00,0.360573,1,0.003920,1.190113,decreased,0.025607,1.203128,increased,0.031113
2005-03-25 06:00:00,0.360573,1,0.003920,-0.303838,max,0.035960,-0.492180,max,0.031113
2005-11-09 17:00:00,0.360573,1,0.003920,-0.122753,normal,0.025607,-0.079808,normal,0.031113
2007-07-25 00:00:00,0.360573,1,0.003920,0.465773,increased,0.025607,0.218016,increased,0.049296
2003-02-19 23:00:00,0.360573,1,0.003920,-2.510812,increased,0.025607,1.203128,increased,0.031113
2004-02-06 01:00:00,0.360573,1,0.003920,-0.767869,normal,0.025607,-0.274540,increased,0.031113
2009-10-30 00:00:00,-0.707803,1,0.035472,-0.801822,max,0.025607,-0.480726,max,0.031113

##Station - B

##Station - C

##Main Station

#Missing Data

#Outlier ditection

# Scalling

#Encoding Catagorical Data