## Feature Selection Assigment


---

The focus of this task is to work with the preprocessed data set in the previous **Preprocessing assigment**.These topics are addressed in this notebook.


*   **Part 1**: PCA on the preprocessed data
*  **Part 2**: Inconsistency Rate on preprocessed data

Before we begin we must address some issues that is present the in the preprocessed data and resolve them. The preprocessed data has a lot of interpolated datas which will actually create a problem during the feature selection as well as in the later parts. So we will filter out the datas by the range of the datas in the main station.

time series range for station a: 2007-09-01 00:00:00 to 2017-12-31 23:00:00

time series range for station b: 2000-01-01 00:00:00 to 2017-12-31 23:00:00

time series range for station c: 2003-06-26 15:00:00 to 2017-12-31 23:00:00

time series range for station main: 2014-01-01 01:00:00 to 2017-12-31 23:00:00

We will take the date range **2014-01-01 01:00:00 to 2017-12-31 23:00:00** so that we don't have to deal with the interpolated datas.

In [1]:
import pandas as pd
import math
import numpy as np
from sklearn.decomposition import PCA

In [42]:
df_prep = pd.read_csv('combined_data_updated.csv',parse_dates=['time'],index_col='time')
df_prep.rename(columns={'temp_c_station-a':'temp_c_station_a','status_station-a':'status_station_a','rain_mm_station-a':'rain_mm_station_a','temp_c_station-b':'temp_c_station_b','status_station-b':'status_station_b','rain_mm_station-b':'rain_mm_station_b','temp_c_station-c':'temp_c_station_c','status_station-c':'status_station_c','rain_mm_station-c':'rain_mm_station_c'}, inplace = True)

In [97]:
def updateDataFrameToOrdinalValues (dataFrame,column,labels):    
    max = math.ceil(dataFrame[column].max())
    min = math.floor(dataFrame[column].min())
    ranges = np.linspace(min,max,(len(labels)+1))
    print(min,max)
    print(column,ranges)
    rep_vals = []
    i=0
    while i < len(ranges)-1:
        dataFrame[column] = np.where((dataFrame[column]>ranges[i]) & (dataFrame[column]<ranges[i+1]), float(max+i), dataFrame[column])
        rep_vals.append((max+i))
        i += 1
    dataFrame[column].replace(rep_vals,labels,inplace=True)

In [100]:
#Update data to ordinalValues

labels = ['decreased','normal','increased']
newData = df_prep.copy(deep=True)
d_types = newData.dtypes
for i in newData.columns:
    print(i)
    if (d_types[i] != 'object'):
        updateDataFrameToOrdinalValues(newData,i,labels)
        
#newData.drop(['rain_mm_station_b','rain_mm_station_a','rain_mm_station_c','temp_c_station_c','flow_m2_s'], axis=1,inplace=True)
newData

temp_c_station_a
-6 4
temp_c_station_a [-6.         -2.66666667  0.66666667  4.        ]
status_station_a
rain_mm_station_a
-106 5
rain_mm_station_a [-106.  -69.  -32.    5.]
temp_c_station_b
-4 4
temp_c_station_b [-4.         -1.33333333  1.33333333  4.        ]
status_station_b
rain_mm_station_b
-35 2
rain_mm_station_b [-35.         -22.66666667 -10.33333333   2.        ]
temp_c_station_c
-116 3
temp_c_station_c [-116.          -76.33333333  -36.66666667    3.        ]
status_station_c
rain_mm_station_c
-31 1
rain_mm_station_c [-31.         -20.33333333  -9.66666667   1.        ]
level_cm
-3 11
level_cm [-3.          1.66666667  6.33333333 11.        ]
flow_m2_s
-3 14
flow_m2_s [-3.          2.66666667  8.33333333 14.        ]

,temp_c_station_a,status_station_a,rain_mm_station_a,temp_c_station_b,status_station_b,rain_mm_station_b,temp_c_station_c,status_station_c,rain_mm_station_c,level_cm,flow_m2_s
time,,,,,,,,,,,
2000-01-01 00:00:00,normal,increased,increased,normal,increased,increased,increased,increased,increased,decreased,decreased
2000-01-01 01:00:00,normal,increased,increased,normal,increased,increased,increased,increased,increased,decreased,decreased
2000-01-01 02:00:00,normal,increased,increased,normal,increased,increased,increased,increased,increased,decreased,decreased
2000-01-01 03:00:00,normal,increased,increased,normal,increased,increased,increased,increased,increased,decreased,decreased
2000-01-01 04:00:00,normal,increased,increased,normal,increased,increased,increased,increased,increased,decreased,decreased
...,...,...,...,...,...,...,...,...,...,...,...
2017-12-31 19:00:00,normal,max,increased,normal,max,increased,increased,max,increased,normal,normal
2017-12-31 20:00:00,normal,max,increased,normal,max,increased,increased,increased,increased,normal,normal
2017-12-31 21:00:00,normal,max,increased,normal,increased,increased,increased,max,increased,normal,normal
2017-12-31 22:00:00,normal,max,increased,normal,increased,increased,increased,increased,increased,normal,normal
2017-12-31 23:00:00,normal,max,increased,normal,increased,increased,increased,max,increased,normal,normal

In [109]:
components = ((newData.columns).to_numpy())
components = np.delete(components,-1)
components = np.delete(components,-1)
print(components)

['temp_c_station_a' 'status_station_a' 'rain_mm_station_a'
 'temp_c_station_b' 'status_station_b' 'rain_mm_station_b'
 'temp_c_station_c' 'status_station_c' 'rain_mm_station_c']

In [146]:
feature_ir = pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)
def generate_IR():
    i = 0
    while i < len(components):
        index = components[i]
        unique_labels = np.unique(newData[index].to_numpy())
        uc = 0
        IZ = np.array([])
        class_traces = pd.DataFrame(data=None, index=None, columns=labels, dtype=None, copy=False)
        while uc < len(unique_labels):
            trace = getOccurances(unique_labels[uc],newData.to_numpy(),i)
            class_traces.loc[uc] = trace 
            max_val = np.amax(trace)
            iz_score = np.sum(trace) - max_val
            IZ = np.append(IZ,iz_score)
            uc +=1
        
        class_traces['IZ'] = IZ
        IR = computeIR(class_traces)
        feature_ir[components [i]] = [IR]
        print(class_traces)
        i += 1
        
generate_IR()

   decreased  normal  increased      IZ
0     2051.0     8.0        0.0     8.0
1    22166.0    33.0        0.0    33.0
2   130499.0  2475.0      335.0  2810.0
   decreased  normal  increased      IZ
0    14002.0    72.0        0.0    72.0
1    97705.0  1165.0      213.0  1378.0
2     2065.0     0.0        0.0     0.0
3    19892.0   763.0       81.0   844.0
4    21052.0   516.0       41.0   557.0
   decreased  normal  increased      IZ
0       14.0     0.0        0.0     0.0
1   154701.0  2516.0      335.0  2851.0
2        1.0     0.0        0.0     0.0
   decreased  normal  increased      IZ
0    12619.0   217.0       22.0   239.0
1    14794.0     9.0        0.0     9.0
2   127303.0  2290.0      313.0  2603.0
   decreased  normal  increased      IZ
0    25227.0   301.0       45.0   346.0
1    65430.0   971.0      141.0  1112.0
2     7960.0    51.0        3.0    54.0
3    23935.0   587.0       51.0   638.0
4    32164.0   606.0       95.0   701.0
   decreased  normal  increased      IZ
0      134.0     0.0        0.0     0.0
1   154554.0  2516.0      335.0  2851.0
2       28.0     0.0        0.0     0.0
   decreased  normal  increased      IZ
0        1.0     0.0        0.0     0.0
1   154714.0  2516.0      335.0  2851.0
2        1.0     0.0        0.0     0.0
   decreased  normal  increased      IZ
0    20510.0   116.0        0.0   116.0
1    75014.0  1051.0      185.0  1236.0
2     3187.0     0.0        0.0     0.0
3    24056.0   674.0       86.0   760.0
4    31949.0   675.0       64.0   739.0
   decreased  normal  increased      IZ
0      169.0     0.0        0.0     0.0
1   154535.0  2516.0      335.0  2851.0
2       12.0     0.0        0.0     0.0

In [141]:
feature_ir

,temp_c_station_a,status_station_a,rain_mm_station_a,temp_c_station_b,status_station_b,rain_mm_station_b,temp_c_station_c,status_station_c,rain_mm_station_c
0,0.018094,0.018094,0.018094,0.018094,0.018094,0.018094,0.018094,0.018094,0.018094

In [114]:
def getOccurances(label,data,feature_index):
    labels_counter_array = np.zeros([len(labels)])
    for i in data:
        if(i[feature_index] == label):
            if(i.take(-1) == 'decreased'):
                labels_counter_array[0] += 1
            elif(i.take(-1) == 'normal'):
                labels_counter_array[1] += 1
            elif(i.take(-1) == 'increased'):
                labels_counter_array[2] += 1
    return labels_counter_array

In [113]:
def computeIR(data):
    total_iz = np.sum(data['IZ'].to_numpy())
    total_occurances = np.sum((data.drop(columns=['IZ'])).to_numpy())
    ir = total_iz/total_occurances
    return ir