## Preprocessing Assigment


---


By 
  - Rakibuzzaman Mahmud
  - Mithun Das
  - Muhtasim Fuad Ansari

### Loading and Visualization of each station's Dataset

In [5]:
import pandas as pd
import seaborn as sns

##Read Data

In [16]:
data = pd.read_csv('combined_data_updated.csv',parse_dates=['time'],index_col='time')

data.sample(10)

,temp_c_station-a,status_station-a,rain_mm_station-a,temp_c_station-b,status_station-b,rain_mm_station-b,temp_c_station-c,status_station-c,rain_mm_station-c,level_cm,flow_m2_s
time,,,,,,,,,,,
2012-03-15 22:00:00,-1.601036,max,0.00392,-0.903682,normal,0.025607,-1.236741,max,0.031113,0.049463,0.089526
2016-02-22 12:00:00,-0.812889,normal,0.00392,1.009028,low,0.025607,-0.686912,normal,0.031113,7.096480,7.428589
2010-08-30 12:00:00,0.745890,normal,0.00392,0.318641,decreased,0.025607,0.355474,normal,0.031113,0.049463,0.089526
2007-06-25 21:00:00,0.360573,increased,0.00392,0.363913,increased,0.146393,0.355474,max,0.034144,0.049463,0.089526
2002-03-18 05:00:00,0.360573,increased,0.00392,-0.960271,normal,0.025607,1.203128,increased,0.031113,0.049463,0.089526
2013-05-01 03:00:00,-2.038895,max,0.00392,-0.281203,max,0.025607,-1.568930,max,0.031113,0.049463,0.089526
2000-10-15 13:00:00,0.360573,increased,0.00392,1.393834,decreased,0.025607,1.203128,increased,0.031113,0.049463,0.089526
2013-01-23 12:00:00,-2.003866,normal,0.00392,-1.231899,normal,0.025607,-1.420018,normal,0.031113,0.049463,0.089526
2006-09-27 16:00:00,0.360573,increased,0.00392,0.737400,increased,0.025607,0.596024,normal,0.031113,0.049463,0.089526
2003-03-24 00:00:00,0.360573,increased,0.00392,-0.903682,increased,0.025607,1.203128,increased,0.031113,0.049463,0.089526

In [13]:
features = data.copy(deep=True)
features.drop(['level_cm','flow_m2_s'], axis=1,inplace=True)
features.sample(10)

,temp_c_station-a,status_station-a,rain_mm_station-a,temp_c_station-b,status_station-b,rain_mm_station-b,temp_c_station-c,status_station-c,rain_mm_station-c
time,,,,,,,,,
2013-07-26 09:00:00,2.812585,3,0.003920,2.072902,decreased,0.025607,1.489497,decreased,0.031113
2011-08-18 08:00:00,0.973576,1,0.003920,1.767321,decreased,0.025607,0.470021,increased,0.031113
2012-12-27 08:00:00,-0.672774,1,0.003920,-0.507559,increased,0.039411,-0.583819,normal,0.031113
2008-02-11 22:00:00,-1.390863,4,0.003920,-1.311123,normal,0.025607,-1.179468,max,0.031113
2013-06-19 23:00:00,1.323864,4,0.245821,1.088253,normal,0.025607,0.733482,max,0.100812
2007-02-25 19:00:00,0.360573,1,0.003920,-0.598101,increased,0.025607,-0.675457,increased,0.031113
2006-12-22 23:00:00,0.360573,1,0.003920,-1.922285,increased,0.025607,-0.732731,increased,0.031113
2001-06-26 19:00:00,0.360573,1,0.003920,1.359880,decreased,0.025607,1.203128,increased,0.031113
2003-02-12 15:00:00,0.360573,1,0.003920,-1.492208,normal,0.025607,1.203128,increased,0.031113
2000-05-11 11:00:00,0.360573,1,0.003920,1.982360,low,0.025607,1.203128,increased,0.031113

##Station - B

##Station - C

##Main Station

#Missing Data

#Outlier ditection

# Scalling

#Encoding Catagorical Data